@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Ubuntu&display=swap");
@import url("/css/index.css");
@import url("/css/product.css");
@import url("/css/Wishlist.css");
@import url("/css/signup.css");
@import url("/css/login.css");
@import url("/css/forgot-password.css");
@import url("/css/cart.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  scroll-behavior: smooth;
  font-family: "PT Sans", sans-serif;
}
.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
