/* .nav-logo i {
  cursor: pointer;
} */
.pagewrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main {
  padding-bottom: 15rem;
  flex-grow: 1;
}
.filter-bar {
  z-index: 1;
  top: 0;
  position: fixed;
  left: 0;
  width: 300px;
  margin-top: 5rem;
  padding-top: 30px;
  padding-right: 1rem;
  overflow-y: scroll;
  height: 100%;
}
.filter-head {
  display: flex;
  justify-content: space-between;
}
.filter-head i {
  cursor: pointer;
}
.filter-bar h3 {
  margin-left: 4rem;
}
.filter-bar h3 span {
  color: gray;
}
.filter-bar h4 {
  margin-left: 4rem;
  margin-top: 2rem;
  font-size: 20px;
}
.size {
  height: 10rem;
  overflow-y: scroll;
}
.filter-by-size {
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
  margin-top: 1rem;
  gap: 0.5rem;
}
.price-range {
  margin: 1rem 2rem;
  display: flex;
}

.range {
  font-size: 18px;
  font-weight: bold;
  padding-left: 1rem;
}
input[type="range"] {
  width: 100%;
  cursor: pointer;
}
.radio {
  cursor: pointer;
}
.apply {
  margin-bottom: 15rem;
}
.container {
  width: (100% - 300px);
  padding: 3rem;
  margin-left: 300px;
  margin-right: 10px;
  height: 100vh;
}
.products {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem;
}
.shoe-card {
  width: 20rem;
  height: 25rem;
}
.shoe-card:hover {
  cursor: pointer;
  color: rgb(231, 36, 36);
}
.shoe-card img {
  width: 100%;
}
.card-desc {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.card-desc h1 {
  font-size: 22px;
}
.card-desc h4 {
  font-weight: lighter;
}
.card-btn {
  display: flex;
  justify-content: space-between;
}
.btn {
  width: 100%;
  margin: 1rem;
  padding: 0.7rem;
  border: none;
  background-color: var(--header-backgroundColor);
  color: var(--header-Color);
  cursor: pointer;
}
.btn:hover {
  opacity: 0.6;
}

/*****************/
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background-color: rgb(153, 153, 153);
}
::-webkit-scrollbar-thumb {
  background-color: black;
  /* border-radius: 2rem; */
}
* {
  scrollbar-width: bold;
  scrollbar-color: rgb(153, 153, 153) black;
}
@media screen and (max-width: 780px) {
  .filter-bar {
    display: none;
  }
  .container {
    width: 100%;
    margin-left: 1rem;
  }
  .shoe-card {
    width: 20rem;
    height: 23rem;
  }
}
