.wishList-section {
  display: flex;
  flex-direction: column;
  height: 90vh;
}
.wishList-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
.wishList-col h1 {
  font-size: 2rem;
  letter-spacing: 5px;
}
.wishlist {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  width: 30rem;
}
.wishlist-item {
  height: 10rem;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid var(--header-backgroundColor);
}
.wishlist-item img {
  height: 100%;
}
.wishlist-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 15rem;
}
.wishlist-btn {
  width: 100%;
  padding: 0.7rem;
  border: none;
  background-color: var(--header-backgroundColor);
  color: var(--header-Color);
  cursor: pointer;
}
.wishlist-btn:hover {
  opacity: 0.6;
}
.wishlist-info {
  display: flex;
}
.wishlist-info i {
  cursor: pointer;
}
@media screen and (max-width: 780px) {
  .wishlist {
    width: 22rem;
  }

  .wishlist-item img {
    height: 80%;
  }
  .wishlist-info {
    margin-top: 1rem;
  }
  .wishlist-info h2 {
    font-size: 15px;
  }
}
